<!DOCTYPE html>
<html>
  <head>
    <title>Seja Bem Vindo a Carteira de Moedas Digitais</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>CABEÇALHO - adm </h1>

    <%= yield %>
    <H1>RODAPÉ - adm</H1>
  </body>
</html>
